@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #121212;
}

/* page style container */
.page-container {
  @apply max-w-screen-xl m-auto py-10 px-5;
}

.button-primary {
  @apply inline-block px-4 h-[38px] rounded shadow-md text-white bg-black hover:bg-gray-900;
}

.input-primary {
  @apply border border-brand-space rounded-md p-2 w-full focus:border-brand-leaf focus:outline-none text-sm;
}

/* page background color */
.main-bg {
  background-color: rgba(1,131,105,.1);
}